:root{
    --font-size: 18px;
    --black: #000000;
    --gray: #E6E6E6;
    --soft-gray: #4b4b4b;
    --dark-gray: #282828;
    --white: #ffffff;
    --primary: #A44200;
    --primary-lighter: #E05900;
    --background: #FFF6EE;
  
    --main-font: -apple-system, BlinkMacSystemFont, 'IBM Plex sans', system-ui;
    --paragraph-font: 'Work Sans', system-ui;

    --max-width: 1200px;
    
}

html, body{
    position:relative;
    z-index: 3;
    font-family: var(--paragraph-font);
    font-size: var(--font-size);
}

h1, h2, h3, h4{
    font-family: var(--main-font);
}
h2{
    margin: 2rem 0;
}
h3{
    margin: 1rem 0;
    color: var(--primary);
}
h4{
    margin: 0 0 0.5rem;
}
p, li{
    padding-top: 0;   
    font-size: 18px;
    letter-spacing: 0.004rem;
    line-height: 1.65;
    color: #4c4c4c;
}

.back{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}
.back .item-back{
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
    width: fit-content;
    transition: all 0.1s ease-in-out;
}
.back .item-back:hover{
    opacity: 1;
    font-weight: 500;
    color: var(--primary);
}
container-1000 li{
    margin-bottom: 0.25rem;
}


.primary{
    color: var(--primary);
    font-weight: 600;
}



.contenedor{
    flex-direction: column;
    width: 100%;
    padding: 0;
    max-width: 1400px;
    margin: 2rem auto;
}

.container-1000{
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}


/* Project Introduction Styling */
.project {
    margin: 2rem auto;
    margin-bottom: 2vh;
}

/* Center the header title */
.project__header {
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.project__header h1{
    width: 100%;
    margin-bottom:1.5rem ;
    font-size: 3.5rem;
}
.date{
    color: var(--primary);
    padding: 0 1rem 0 0;
}
.location{
    background-color: var(--primary);
    color: var(--background);
    padding: 0 1rem;
}


/* Styling for the content container with Grid */
.project__content {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem; 
    margin: 0 auto;
    text-align: left;
}

.project__content h2:first-child{
    margin-top: 0;
    padding-top: 0;
}


/* Columns for technical and summary */
.technical-rider, 
.summary {
    padding: 1rem;
    border-radius: 8px;
}

.technical-rider a{
    text-decoration: underline;
    transition: all 0.1s ease-in;
}

.technical-rider a:hover{
    color: var(--primary);
    font-weight: 500;
}



.page-ux{
    --parallax-bg-image: url('/img/home/design-thinking-bg.jpg');
}
.page-multimedia{
    --parallax-bg-image: url('/img/multimedia/methodology.jpg');
}
.page-frontend{
    --parallax-bg-image: url('/img/headerldn.jpg');
}



/* Style for the parallax section */

.parallax {
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 4rem;
}
.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: var(--parallax-bg-image); Usa la variable */
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* filter: brightness(0.75) blur(3px); */
    z-index: 0;
}
.parallax-text {
    color: white;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.parallax-text h2{
    background-color: var(--primary);
    padding: 1rem 2rem;
    color: var(--background);
}
.parallax-text h3{
    color: var(--primary);
}
.parallax-text img{
    width: 350px;
    height: auto;
}












.case-study{
    margin: 5rem 0;
    /* border: 3px var(--primary) solid; */
}
.case-study__header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.case-study__header h2{
    padding: 0 2rem;
    white-space: nowrap;
    font-size: 45px;
}
.divider{
    flex-grow: 1; /* Hace que las líneas crezcan para llenar el espacio */
    border: none; /* Elimina el borde predeterminado */
    border-top: 1px solid var(--primary); /* Línea superior */
    margin: 0 10px; /* Espacio entre el texto y las líneas */
    opacity: 0.15;
}

.case-study__body{
    margin: 0 auto;
    text-align: left;
    max-width: 768px;
    padding-left: 56px;
    padding-right: 56px;
}
.case-study__body h2{
    margin-top: 1rem;
}
.case-study__body h3{
    color: var(--black);
    margin-top: 4rem;
    font-size: 20px;
    font-weight: 800;
}
.case-study__body h4{
    /* margin-top: 2.8rem; */
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
}

.case-study__body ol {
    list-style-type:decimal;
    padding-left: 1rem;
    margin: 1rem;
}

.flex{
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;

}
.text-flex{
    width: 50%;
    flex-basis: calc(50% - 2rem);
}
.margin-top{
    margin-top: 1rem;
}
.margin-bottom{
    margin-bottom: 10rem;
}

.margin-top-technical{
    margin-top: 1rem;
}
.project-image {
    width: 100%;  /* Ocupa todo el ancho del contenedor padre */
    max-width: 1000px; /* Define un ancho máximo opcional */
    margin: 0 auto; /* Centra la imagen si el contenedor tiene menos ancho */
}

.project-image img {
    width: 100%; /* La imagen se ajusta al tamaño del contenedor */
    height: auto; /* Mantiene la proporción original */
    display: block; /* Evita espacios extra debajo de la imagen */
    border-radius: 10px; /* Opcional: añade bordes redondeados */

}

.black{
    color: var(--black);
}



.hero {
    background-size: contain; /* Asegura que la imagen cubra todo el área del div */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    width: 100vw; /* Usa el ancho completo de la ventana del navegador */
    height: 90vh; /* Ajusta la altura de tu hero section */
    margin: 5rem 0;
    position: relative; /* Asegura que el contenedor pueda posicionar sus hijos correctamente */
    overflow: hidden; /* Opcional: evita que el contenido se desborde del contenedor */
    left: 50%; /* Moverlo hacia la izquierda */
    right: 50%; /* Alinearlo hacia la derecha */
    margin-left: -50vw; /* Corrección para moverlo fuera del contenedor */
    margin-right: -50vw; /* Asegura que también se estire hacia la derecha */
}


.case-study__images{
    width: 100%;
    
}
img {
    width: 100%;
}

.custom-audio {
    width: 100%; /* Full width */
    border-radius: 20px; /* Rounded corners */
    padding: 0; /* Inner padding for spacing */
    margin: 1rem 0;
    outline: none; /* Remove outline */
    background-color: #e5e5e5
  }

  /* Carousel */
  .carousel-control-next, .carousel-control-next:focus {
    background-color: var(--black);
    opacity: 0;
    width:35%;
    top: 0%;
    bottom: 0%;
  }
  .carousel-control-next:hover{
    background-color: var(--black);
    opacity: 0.15;
  }
  .carousel-control-prev, .carousel-control-prev:focus {
    background-color: var(--black);
    opacity: 0;
    width:35%; 
    top: 0%;
    bottom: 0%;
  }
  .carousel-control-prev:hover{
    background-color: var(--black);
    opacity: 0.15;
  }
  .carousel-indicators .active{
    background-color: var(--primary);
  }
  .carousel-indicators [data-bs-target]{
      border-top: 0px solid transparent;
      border-bottom: 0px solid transparent;
  }




  .footer-aside p{
    color: var(--background);
  }

  .footer-links p, .footer-sitemap p {
    color: var(--background);
  }
  .footer-aside h3{
    color: var(--background);
  }



@media (max-width: 1100px){
    .hero{
        background-size: cover; /* Asegura que la imagen cubra todo el área del div */
        height: 75vh;
    }
}

@media (max-width: 875px) {
    p{
        font-size: 18px;
        line-height: 1.5;
    }
    .item-back{
        padding: 0 1rem;
    }
    .contenedor{
        margin-top: 4rem;
        width: 100%;
    }
    .container-1000{
        width: 95%;
    }
    .project{
        margin-top: 0rem;
    }
    .project__header{
        align-items: start;
        justify-content: left;
    }
    
    .project__content {
        grid-template-columns: 1fr; /* Make it one column */
    }

    /* Reorder the grid items so the second column comes first */
    .technical-rider{
        order: 2; /* Move the technical section below */
        width: 100%; /* Make it take 100% width */
        display: flex;
        justify-content: left;
        align-items:start;
        gap: 6rem;

    }

    .summary {
        order: 1; /* Move the summary section above */
        width: 100%; /* Make it take 100% width */
    }

    .methodology__photo{
        width: 25vh;
    }
    

    .hero{
        height: 50vh;
    }
    .contain{
        background-size: contain;
    }

    .case-study__body{
        grid-template-columns: 1fr;
        padding: 0 2rem;
    }
    .divider{
        width: 4rem;
    }
}

@media (max-width: 672px){
    .contenedor{
        margin-top: 9rem;
    }
    .flex{
        flex-direction: column;
        gap: 0.25rem;
    }
    .text-flex{
        width: 100%;
        flex-basis: calc(50% - 2rem);
    }
    .case-study__body h4{
        margin-top: 0;
    }

}

@media (max-width: 480px) {
    p, li{
        font-size: 16px;
    }
    .contenedor{
        margin-top: 10rem;
    }
   .divider{
        display: none;
   }
   .project{
    margin-bottom: 10rem;
    }
    .project__header{
        margin-top: 0;
        padding-top: 0;
    }
    .project__header h1{
        font-size: 2.5rem;
    }
   .case-study__header{
    justify-content: left;
   }
   .case-study__header h2{
    white-space:unset;
    }
    .technical-rider{
        width: 80%;
        margin: 0 auto;
        gap: 30px;
        padding: 0;
    }
    .technical-rider .div{
        width: 100%;
    }
    .technical-rider p{
       padding: 0;
       margin: 0 0 0.8rem;
    }

    

}

