:root{
    --font-size: 18px;
    --black: #000000;
    --gray: #E6E6E6;
    --soft-gray: #6c6c6c;
    --dark-gray: #282828;
    --white: #ffffff;
    --primary: #A44200;
    --primary-lighter: #E05900;
    --background: #FFF6EE;
  
    --main-font: -apple-system, BlinkMacSystemFont, 'IBM Plex sans', system-ui;
    --paragraph-font: 'Work Sans', system-ui;

    --max-width: 1200px;

    --h1: 5.5rem;
    
}

html{
    font-size: var(--font-size);
}

body{
    width: 100%;    
    font-family: var(--paragraph-font);
    background-color: var(--background);
    position: relative;
}

::-moz-selection { /* Code for Firefox */
    color: var(--background);
    background: var(--soft-gray);
}
  
::selection {
    color: var(--background);
    background: var(--soft-gray);
}

h1, h2, h3, h4{
  font-family: var(--main-font);  
}
.bold{
    font-weight: 700;
}
.date{
    color: var(--primary);
    padding: 0 1rem 0 0;
}
.location{
    background-color: var(--primary);
    color: var(--background);
    padding: 0 1rem;
}

.wrapper{
    position: relative;
    z-index: 1;
    background-color: var(--background);
    width: 100%;
    padding: 8rem 0;
    margin: 0;
}
.container-1200{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.page-description {
    width:100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8rem;
    box-sizing: border-box;
}

.page-description h1{
    font-size: var(--h1);
    font-weight: 500;
    flex: 0 0 50%;
    font-family: var(--main-font);
}
.page-description p{
    flex: 1;
    font-size: 1rem;
    line-height: 1.4;
    padding-right: 5rem;
    overflow-wrap: break-word;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

.page-projects{
    width:100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.project-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.project-card a{
    text-decoration: none;
    color: inherit; 
}
a:hover{
    text-decoration: none;
    color: inherit; 
}

.card-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--gray);
    transition: all 0.2s ease-in-out;
}

.card-aside{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-aside h4, p{
    font-size: 1.3rem;
}
.card-aside p{
    font-style: italic;
}
.card-main{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1rem;
}
.card-title{
    font-size: 2.75rem;
    font-weight: 400;
}
.card-tags{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.tag{
    border: 2px solid #000;
    padding: 0.5rem 1.5rem;
    font-size: 0.65rem;
    font-weight: 500;
}

.card-prev{
    aspect-ratio: 4/3;
    background-color: beige;
    overflow: hidden;
}
.card-prev img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(100%);
    transition: all 0.25s ease-in-out;
}

/* hover */
.project-card:hover > .card-information{
    background-color: var(--primary);
    color: var(--background);
}
.project-card:hover > .card-information *{
    border-color: var(--background);
}
.project-card:hover > .card-prev img{
    transform: scale(120%);
}



/* ABOUT & CONTACT */

.flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.margin-top{
    margin-top: 2rem;
}
.inline-group{
    display: flex;
    align-items: center; 
    gap: 1rem;
    
}
.inline-group .location{
    margin: 0;
}
.inline-group .date{
    padding: 0;
    margin: 0;
}
.tooltip {
    position: relative;
    display: inline-block;
    color: #000000;
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext {
    visibility: visible;
    opacity: 1;
    /* transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s; */
    font-weight: 400;
    font-size: 0.9rem;
    white-space: nowrap;
    background-color: #383838;
    color: var(--background);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #383838 transparent transparent transparent;
}

.tooltip .tooltiptext .show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
}


/* Estilo para el correo electrónico (como botón) */
.email {
cursor: default;
border: none;
color: var(--black);
font-size: 1rem;
border-radius: 4px;
text-decoration: underline;
}

.contenedor-about{
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0rem 0 4rem;
    overflow:visible;
}

.about{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 75%;
    margin: 0 auto;
}
.about__img {
    width: 100%; 
    display: flex;
    justify-content: center; 
    align-items: start; 
    padding: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    perspective: 1000px; 
    
}
.primary{
    color: var(--primary);
}
.about__img img {
    max-width: 100%; 
    min-height: 100%; 
    display: block; 
    object-fit: cover;
    transition: transform 0.2s ease;
    will-change: transform;   
    border-radius: 0px;
    border: var(--background) 0px solid; 
    transition: all 0.3s ease-in-out;
}
.about__info{
    padding: 0.5rem; /* Añade un poco de padding para mejorar la legibilidad */
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no cause desbordamientos */
}
.about__info p{
    margin: 1rem 0;
    font-size: 1rem;
}
.skills-container{
    width: 75%;
    margin: 0 auto;
    margin-top: 5rem;
}
.skills-container h2{
    margin-bottom: 2rem;
}
.skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
}
.skills-4{
    width: 200px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.skills-4 p{
    font-size: 1rem;
}

.resume{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resume h2, .resume button{
    margin: 1rem;
    font-size: 1rem;
}

button {
    background-color: #A44200;
    color: var(--background);
    border: none;
    padding: 1rem 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

button:hover {
    background-color: #833704; /* Slightly lighter shade on hover */
}

button:active {
    background-color: #642510; /* Darker shade when clicked */
}

.contact-form-container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #A44200; /* Highlight color */
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #A44200; /* Highlight color */
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #c75309; /* Slightly darker shade */
}

.contact-form button:active {
    background-color: #833015; /* Even darker shade */
}


/* footer */
.footer{
    width: 100%;
    background-color: var(--dark-gray);
    padding: 0 2rem;
    margin: 0;
    margin-top: 0;
    color: var(--background);
    position: sticky;
    bottom: 0;
    z-index: 0;
}
.footer-pm{
    padding: 5.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.footer-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-aside{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}
.footer-aside p{
    font-size: 0.9rem;
    font-weight: 300;
}
.footer-navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 1;
    gap: 5rem;
    text-align: right;
}
.footer-links p, .footer-sitemap p{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}
.footer-links, .footer-sitemap{
    display: flex;
    flex-direction: column;
}
.footer-links a, .footer-sitemap a{
    font-size: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 200;
    transition: all 0.1s ease;
}
.footer-links a:hover, .footer-navigation a:hover{
    color: var(--primary-lighter);
    font-weight: 400;
    cursor: pointer;
    
}
.footer-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-header h1{
    font-size: var(--h1);
    padding: 0;
    margin: 0;
}
.footer-header h4{
    padding: 0;
    padding-bottom: 0.6rem;
    margin: 0;
    font-size: 1.5rem;
}







@media (max-width: 1250px) {
    .wrapper{
        padding-top: 6rem;
    }
    .page-description{
        margin-bottom: 6rem;
    }
    .container-1200{
        width: 100%;
        padding-inline: 1rem;
    }
   .page-description{
    flex-direction: column;
    align-items: start;
    gap: 2rem;
   }
   .page-description p{
    padding-right: 30%;
   }
}

@media (max-width: 992px) {
    .card-information {
        padding: 0.5rem;
    }
    .card-aside h4, p{
        font-size: 1rem;
    }
    .card-title{
        font-size: 2rem;
        font-weight: 400;
    }
    .card-tags{
        gap: 0.25rem;
    }
    .tag{
        border: 2px solid #000;
        padding: 0.25rem 0.85rem;
        font-size: 0.65rem;
        font-weight: 500;
    }

}

@media (max-width: 800px) {
    .contenedor-about{
        margin-top: 10vh;
    }

    .about {
        grid-template-columns: 1fr; /* Cambia a una sola columna para la disposición vertical */
        grid-template-rows: auto auto; /* Ajusta las filas automáticamente */
    }

    .about__img {
        order: 1; /* Coloca la imagen primero */
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
    .about__img img{
        
        height: 100%
    };

    .about__info {
        order: 2; /* Coloca el texto después de la imagen */
    }
    .skills-container{
        margin-bottom: 5rem;
    }
    .skills{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }
    .resume{
        width: 75%;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
    .footer-pm{
        padding-top: 2rem;
        padding-bottom: 3rem;
        gap: 0.8rem;
    }
    .footer-description{
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
    .footer-aside{
        gap: 1rem;
    }
    .footer-aside h3{
        font-size: 1.2rem;
    }
    .footer-aside p{
        font-size: 0.8rem;
    }
    .footer-navigation{
        text-align: left;
    }
    .footer-links p, .footer-sitemap p{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.4rem;
    }
    .footer-links a, .footer-sitemap a{
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
        font-weight: 200;
        transition: all 0.1s ease;
    }

    .footer-header{
        gap: 1rem;
        flex-wrap: wrap;
    }
    .footer-header h1{
        font-size: 2.8rem;
    }
    .footer-header h4{
        font-weight: 200;
        font-size: 1.2rem;
        opacity: 0.65;
        padding-bottom: 0.3rem;
    }
}

@media (max-width: 672px) {
    .wrapper{
        padding-top: 8rem;
    }
    .page-description{
        margin-bottom: 5rem;
    }
    .page-description h1{
        font-size: 4rem;
    }
    .page-description p{

        font-size: 0.9rem;
        line-height: 1.5;
        padding-right: 0;
        overflow-wrap: break-word;
        box-sizing: border-box;
    }
    .page-projects{
        gap:2rem;
    }
    .project-card{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    .card-information{
        min-height: 8rem;
    }
    
}
@media (max-width: 420px) {
    .page-description h1{
        font-size: 3rem;
    }
}


