<footer>
  <div class="container-1200 footer-pm">
    <div class="footer-description">
      <div class="footer-aside">
        <h3>dngeap@gmail.com</h3>
        <p>
          Designed in Figma and built using HTML, CSS, JavaScript and Bootstrap.
          The code is managed using Git and GitHub, and deployed to Hostinger.
        </p>
      </div>
      <div class="footer-navigation">
        <div class="footer-links">
          <p>LINKS</p>
          <a href="https://www.linkedin.com/in/dngea/" target="_blank"
            >LinkedIn</a
          >
          <a href="https://github.com/dngea" target="_blank">GitHub</a>
          <a href="#" id="contactButton2">Contact</a>
          <a
            href="img/home/Daniel_Gea_Resume.pdf"
            download="Daniel_Gea_Resume.pdf"
            >Resume</a
          >
          <a
            href="https://www.researchgate.net/publication/388475957_Semantic_and_Spatial_Sound-Object_Recognition_for_Assistive_Navigation"
            target="_blank"
            >Publications</a
          >
          <a href="../sound-navigation.html" target="_blank"
            >Sound Navigation Interactive Demo</a
          >
        </div>
        <div class="footer-sitemap">
          <p>SITEMAP</p>
          <a href="../index.html">Portfolio</a>
          <a href="../frontend.html">Frontend</a>
          <a href="../ux_ui.html">UX/UI</a>
          <a href="../multimedia.html">Multimedia</a>
          <a href="../about.html#skills">Skills</a>
          <a href="../about.html">About</a>
        </div>
      </div>
    </div>

    <div class="footer-header">
      <h1>Daniel Gea</h1>
      <h4>2025</h4>
    </div>
  </div>
</footer>
